*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e2e2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    background-color: #0045ad;
    padding: 15px;
    text-align: center;
}
.menu, .logo {
    padding: 10px;
}
a, a:visited {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
}
a:hover {
    background-color: #ffffff;
    color: #0045ad
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

.posts {
    width: 660px;
    background-color: #ffffff;
    float: left;
}

.post {
    padding: 20px;
}

h2 {
    color: #0045ad;
}

.barra-lateral {
    width: 240px;
    float: right;
}

.data-post {
    font-size: 0.8em;
    margin-bottom: 15px;
    display: block;
}

.conteudo-lateral {
    background-color: white;
    padding: 10px;
}

.conteudo-lateral h3 {
    background-color: #0045ad;
    color: #ffffff;
    padding: 5px;
}

.post-destaque {
    font-size: 0.8em;
}

.footer {
    clear: both;
    background-color: #0045ad;
    padding: 14px;
}

.footer p {
    color: #ffffff;
    text-align: center;
}